@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
}

h1.center {
    padding-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

h2.center {
    padding-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    padding-top: 150px;
}

table, tr, th {
    border: 1px blue;
}

img.foto {
    /* display: inline-block;
    margin-bottom: 1rem; */
    width: 30%;
    vertical-align: middle;
    padding: 10px;
}

@media screen and (max-width: 800px) {
    .col {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .col {
        flex: 100%;
        max-width: 100%;
    }
}